.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 500px;
  }
input[type=text] {
    width: 70%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    box-sizing: border-box;
}
button[type=button] {
    width: 70%;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=password] {
    width: 70%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: DodgerBlue;
    width: 30%;
    height: 50px;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
